.navbar-container {
    width: 100%; 
    background: #587ed8; 
    box-shadow: 0px 5px 6px lightgray;
}

.navbar-display {
    color: white !important;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 4rem;
}